doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        audio#audio
            source(
                src="https://raw.githubusercontent.com/ricardoolivaalonso/recursos/master/radio/radio.mp3",
                type="audio/mpeg"
            )
        audio#audio2
            source(
                src="https://raw.githubusercontent.com/ricardoolivaalonso/Codepen/master/Bedroom/sounds/librero.mp3",
                type="audio/mpeg"
            )
        audio#audio3
            source(
                src="https://raw.githubusercontent.com/ricardoolivaalonso/Codepen/master/Bedroom/sounds/repisa.mp3",
                type="audio/mpeg"
            )
        audio#audio4
            source(
                src="https://raw.githubusercontent.com/ricardoolivaalonso/Codepen/master/Bedroom/sounds/buro.mp3",
                type="audio/mpeg"
            )
        link(rel="stylesheet" href="../style.css")
    body 
        .shadows.rb
            .shadow6 
            .shadow5 
            .shadow4
            .shadow1
            .shadow2
            .shadow3
        //---------------------
        .room.rb
            //---------------------
            .at
                .at__front.face 
                .at__back.face 
                .at__right.face 
                .at__left.face 
                .at__top.face 
                    .os.os1
                    .os.os2
                    .ws1.ws
                    .ws2.ws
                    .ws3.ws
                    .ws4.ws
                    .ws5.ws
                    .ws6.ws
                    .ws7.ws

                .at__bottom.face 
            .ab
                .ab__front.face 
                .ab__back.face 
                .ab__right.face 
                .ab__left.face 
                .ab__top.face 
                .ab__bottom.face 
            .bb
                .bb__front.face 
                    .os.os1
                    .os.os2
                .bb__back.face 
                .bb__right.face 
                .bb__left.face 
                .bb__top.face 
                .bb__bottom.face 
            .bt
                .bt__front.face 
                .bt__back.face 
                .bt__right.face 
                .bt__left.face 
                .bt__top.face 
                .bt__bottom.face 
            .bbl
                .bbl__front.face 
                .bbl__back.face 
                .bbl__right.face 
                .bbl__left.face 
                .bbl__top.face 
                .bbl__bottom.face 
            .bbr
                .bbr__front.face 
                .bbr__back.face 
                .bbr__right.face 
                .bbr__left.face 
                .bbr__top.face 
                .bbr__bottom.face 
            .bl
                .bl__front.face 
                .bl__back.face 
                .bl__right.face 
                    .os0
                    .os.os1
                    .os.os2
                    .os.os3
                    .os.os4
                    .os.os5
                    .os.os6
                .bl__left.face 
                    .os.os1
                .bl__top.face 
                .bl__bottom.face 
            //---------------------    
            .ventana
                .ventana__back.face 
                    .lg.lg1
                    .lg.lg2
                    .vs.vs1
                    .vs.vs2
                    .vs.vs3
                    .vs.vs4
                .ventana-l
                    .ventana-l__front.face 
                    .ventana-l__back.face 
                    .ventana-l__right.face 
                    .ventana-l__left.face 
                    .ventana-l__top.face 
                    .ventana-l__bottom.face 
                .ventana-c
                    .ventana-c__front.face 
                    .ventana-c__back.face 
                    .ventana-c__right.face 
                    .ventana-c__left.face 
                    .ventana-c__top.face 
                    .ventana-c__bottom.face 
                .ventana-r
                    .ventana-r__front.face 
                    .ventana-r__back.face 
                    .ventana-r__right.face 
                    .ventana-r__left.face 
                    .ventana-r__top.face 
                    .ventana-r__bottom.face 
                .ventana-t
                    .ventana-t__front.face 
                    .ventana-t__back.face 
                    .ventana-t__right.face 
                    .ventana-t__left.face 
                    .ventana-t__top.face 
                    .ventana-t__bottom.face 
                .ventana-b
                    .ventana-b__front.face 
                    .ventana-b__back.face 
                    .ventana-b__right.face 
                    .ventana-b__left.face 
                    .ventana-b__top.face 
                    .ventana-b__bottom.face 
            //---------------------
            .cama
                .fs
                .cama-al
                    .cama-al__front.face 
                    .cama-al__back.face 
                    .cama-al__right.face 
                    .cama-al__left.face 
                    .cama-al__top.face 
                    .cama-al__bottom.face 
                .cama-ac
                    .cama-ac__front.face 
                    .cama-ac__back.face 
                    .cama-ac__right.face 
                    .cama-ac__left.face 
                    .cama-ac__top.face 
                    .cama-ac__bottom.face 
                .cama-ar
                    .cama-ar__front.face 
                    .cama-ar__back.face 
                    .cama-ar__right.face 
                    .cama-ar__left.face 
                    .cama-ar__top.face 
                    .cama-ar__bottom.face 
                .cama-bc
                    .cama-bc__front.face 
                    .cama-bc__back.face 
                    .cama-bc__right.face 
                    .cama-bc__left.face 
                    .cama-bc__top.face 
                    .cama-bc__bottom.face 
                .cama-almos
                    .cama-almo
                        .cama-almo__sh.face 
                        .cama-almo__front.face 
                        .cama-almo__back.face 
                        .cama-almo__right.face 
                        .cama-almo__left.face 
                        .cama-almo__top.face 
                        .cama-almo__bottom.face 
                    .cama-almo
                        .cama-almo__sh.face 
                        .cama-almo__front.face 
                        .cama-almo__back.face 
                        .cama-almo__right.face 
                        .cama-almo__left.face 
                        .cama-almo__top.face 
                        .cama-almo__bottom.face 
            //---------------------
            .repisa
                .repisa-base
                .repisa-t
                    .repisa-t__front.face 
                    .repisa-t__back.face 
                    .repisa-t__right.face 
                    .repisa-t__left.face 
                    .repisa-t__top.face 
                    .repisa-t__bottom.face 
                .repisa-b
                    .repisa-b__front.face 
                    .repisa-b__back.face 
                    .repisa-b__right.face 
                    .repisa-b__left.face 
                    .repisa-b__top.face 
                    .repisa-b__bottom.face 
                .repisa-l
                    .repisa-l__front.face 
                    .repisa-l__back.face 
                    .repisa-l__right.face 
                    .repisa-l__left.face 
                    .repisa-l__top.face 
                    .repisa-l__bottom.face 
                .repisa-r
                    .repisa-r__front.face 
                    .repisa-r__back.face 
                    .repisa-r__right.face 
                    .repisa-r__left.face 
                    .repisa-r__top.face 
                    .repisa-r__bottom.face 
                .repisa-c
                    .repisa-c__front.face 
                    .repisa-c__back.face 
                    .repisa-c__right.face 
                    .repisa-c__left.face 
                    .repisa-c__top.face 
                    .repisa-c__bottom.face 
                #repisa.repisa-puertas
                    .repisa-puerta.repisa-p
                        .repisa-puerta__front.face 
                        .repisa-puerta__back.face 
                        .repisa-puerta__right.face 
                        .repisa-puerta__left.face 
                        .repisa-puerta__top.face 
                        .repisa-puerta__bottom.face 
                    .repisa-puerta
                        .repisa-puerta__front.face 
                        .repisa-puerta__back.face 
                        .repisa-puerta__right.face 
                        .repisa-puerta__left.face 
                        .repisa-puerta__top.face 
                        .repisa-puerta__bottom.face 
            //---------------------
            #buro.buro
                .fs
                .buro-t
                    .buro-t__front.face 
                    .buro-t__back.face 
                    .buro-t__right.face 
                    .buro-t__left.face 
                    .buro-t__top.face 
                    .buro-t__bottom.face 
                .buro-b
                    .buro-b__front.face 
                    .buro-b__back.face 
                    .buro-b__right.face 
                    .buro-b__left.face 
                    .buro-b__top.face 
                    .buro-b__bottom.face 
                .buro-c
                    .buro-c__front.face 
                    .buro-c__back.face 
                    .buro-c__right.face 
                    .buro-c__left.face 
                    .buro-c__top.face 
                    .buro-c__bottom.face 
                .buro-l
                    .buro-l__front.face 
                    .buro-l__back.face 
                    .buro-l__right.face 
                    .buro-l__left.face 
                    .buro-l__top.face 
                    .buro-l__bottom.face 
                .buro-r
                    .buro-r__front.face 
                    .buro-r__back.face 
                    .buro-r__right.face 
                    .buro-r__left.face 
                    .buro-r__top.face 
                    .buro-r__bottom.face 
                .buro-puertas
                    .buro-puerta
                        .buro-puerta__front.face 
                        .buro-puerta__back.face 
                        .buro-puerta__right.face.flex 
                            .manija
                                .manija__front.face 
                                .manija__back.face 
                                .manija__right.face 
                                .manija__left.face 
                                .manija__top.face 
                                .manija__bottom.face
                        .buro-puerta__left.face 
                        .buro-puerta__top.face 
                        .buro-puerta__bottom.face 
                    .buro-puerta
                        .buro-puerta__front.face 
                        .buro-puerta__back.face 
                        .buro-puerta__right.face.flex
                            .manija
                                .manija__front.face 
                                .manija__back.face 
                                .manija__right.face 
                                .manija__left.face 
                                .manija__top.face 
                                .manija__bottom.face
                        .buro-puerta__left.face 
                        .buro-puerta__top.face 
                        .buro-puerta__bottom.face 
            //---------------------
            #bocina.bocina
                .fs
                .bocina-l.bocina-a
                    .bocina-l__front.face 
                    .bocina-l__back.face 
                    .bocina-l__right.face 
                    .bocina-l__left.face 
                    .bocina-l__top.face 
                    .oocina-l__bottom.face 
                .bocina-stereo
                    .bocina-stereo__front.face 
                    .bocina-stereo__back.face 
                    .bocina-stereo__right.face 
                    .bocina-stereo__left.face 
                    .bocina-stereo__top.face 
                    .bocina-stereo__bottom.face 
                .bocina-r.bocina-a
                    .bocina-r__front.face 
                    .bocina-r__back.face 
                    .bocina-r__right.face 
                    .bocina-r__left.face 
                    .bocina-r__top.face 
                    .oocina-r__bottom.face 
            //---------------------
            .libros
                .libro.libro--azul
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 
                .libro.libro--verde
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 
                .libro.libro--amarillo
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 
                .libro.libro--azul
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 

                .libro.libro--azul
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 
                .libro.libro--verde
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 
                .libro.libro--blanco
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 
                .libro.libro--azul
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 

                .libro.libro--azul
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 
                .libro.libro--azul
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 
                .libro.libro--amarillo
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 
                .libro.libro--azul
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 
                .libro.libro--verde
                    .libro__front.face 
                    .libro__back.face 
                    .libro__right.face 
                    .libro__left.face 
                    .libro__top.face 
                    .libro__bottom.face 

            //---------------------
            .sillon
                .fs
                .sillon-l
                    .sillon-l__front.face 
                    .sillon-l__back.face 
                    .sillon-l__right.face 
                    .sillon-l__left.face 
                    .sillon-l__top.face 
                    .sillon-l__bottom.face 
                .sillon-r
                    .sillon-r__front.face 
                    .sillon-r__back.face 
                    .sillon-r__right.face 
                    .sillon-r__left.face 
                    .sillon-r__top.face 
                    .sillon-r__bottom.face 
                .sillon-c
                    .sillon-c__front.face 
                    .sillon-c__back.face 
                    .sillon-c__right.face 
                    .sillon-c__left.face 
                    .sillon-c__top.face 
                    .sillon-c__bottom.face 
                .sillon-c2
                    .sillon-c2__front.face 
                    .sillon-c2__back.face 
                    .sillon-c2__right.face 
                    .sillon-c2__left.face 
                    .sillon-c2__top.face 
                    .sillon-c2__bottom.face 
                .sillon-b
                    .sillon-b__front.face 
                    .sillon-b__back.face 
                    .sillon-b__right.face 
                    .sillon-b__left.face 
                    .sillon-b__top.face 
                    .sillon-b__bottom.face 
                .sillon-b2
                    .sillon-b2__front.face 
                    .sillon-b2__back.face 
                    .sillon-b2__right.face 
                    .sillon-b2__left.face 
                    .sillon-b2__top.face 
                    .sillon-b2__bottom.face 
            //---------------------
            .libreros
                .librero
                    .fs
                    .librero-t
                        .librero-t__front.face 
                        .librero-t__back.face 
                        .librero-t__right.face 
                        .librero-t__left.face 
                        .librero-t__top.face 
                        .librero-t__bottom.face 
                    .librero-b
                        .librero-b__front.face 
                        .librero-b__back.face 
                        .librero-b__right.face 
                        .librero-b__left.face 
                        .librero-b__top.face 
                        .librero-b__bottom.face 
                    .librero-m1
                        .librero-m1__front.face 
                        .librero-m1__back.face 
                        .librero-m1__right.face 
                        .librero-m1__left.face 
                        .librero-m1__top.face 
                        .librero-m1__bottom.face 
                    .librero-m2
                        .librero-m2__front.face 
                        .librero-m2__back.face 
                        .librero-m2__right.face 
                        .librero-m2__left.face 
                        .librero-m2__top.face 
                        .librero-m2__bottom.face 
                    .librero-m3
                        .librero-m3__front.face 
                        .librero-m3__back.face 
                        .librero-m3__right.face 
                        .librero-m3__left.face 
                        .librero-m3__top.face 
                        .librero-m3__bottom.face 
                    .librero-l
                        .librero-l__front.face 
                        .librero-l__back.face 
                        .librero-l__right.face 
                        .librero-l__left.face 
                        .librero-l__top.face 
                        .librero-l__bottom.face 
                    .librero-l1
                        .librero-l1__front.face 
                        .librero-l1__back.face 
                        .librero-l1__right.face 
                        .librero-l1__left.face 
                        .librero-l1__top.face 
                        .librero-l1__bottom.face 
                    .librero-l2
                        .librero-l2__front.face 
                        .librero-l2__back.face 
                        .librero-l2__right.face 
                        .librero-l2__left.face 
                        .librero-l2__top.face 
                        .librero-l2__bottom.face 
                    .librero-l3
                        .librero-l3__front.face 
                        .librero-l3__back.face 
                        .librero-l3__right.face 
                        .librero-l3__left.face 
                        .librero-l3__top.face 
                        .librero-l3__bottom.face 
                    .librero-r
                        .librero-r__front.face 
                        .librero-r__back.face 
                        .librero-r__right.face 
                        .librero-r__left.face 
                        .librero-r__top.face 
                        .librero-r__bottom.face 

                #librero.librero
                    .fs
                    .librero-base

                    .librero-t
                        .librero-t__front.face 
                        .librero-t__back.face 
                        .librero-t__right.face 
                        .librero-t__left.face 
                        .librero-t__top.face 
                        .librero-t__bottom.face 
                    .librero-b
                        .librero-b__front.face 
                        .librero-b__back.face 
                        .librero-b__right.face 
                        .librero-b__left.face 
                        .librero-b__top.face 
                        .librero-b__bottom.face 
                    .librero-m1
                        .librero-m1__front.face 
                        .librero-m1__back.face 
                        .librero-m1__right.face 
                        .librero-m1__left.face 
                        .librero-m1__top.face 
                        .librero-m1__bottom.face 
                    .librero-m2
                        .librero-m2__front.face 
                        .librero-m2__back.face 
                        .librero-m2__right.face 
                        .librero-m2__left.face 
                        .librero-m2__top.face 
                        .librero-m2__bottom.face 
                    .librero-m3
                        .librero-m3__front.face 
                        .librero-m3__back.face 
                        .librero-m3__right.face 
                        .librero-m3__left.face 
                        .librero-m3__top.face 
                        .librero-m3__bottom.face 
                    .librero-l
                        .librero-l__front.face 
                        .librero-l__back.face 
                        .librero-l__right.face 
                        .librero-l__left.face 
                        .librero-l__top.face 
                        .librero-l__bottom.face 
                    .librero-r1
                        .librero-r1__front.face 
                        .librero-r1__back.face 
                        .librero-r1__right.face.flex 
                            .manija
                                .manija__front.face 
                                .manija__back.face 
                                .manija__right.face 
                                .manija__left.face 
                                .manija__top.face 
                                .manija__bottom.face 
                        .librero-r1__left.face 
                        .librero-r1__top.face 
                        .librero-r1__bottom.face 
                    .librero-r2
                        .librero-r2__front.face 
                        .librero-r2__back.face 
                        .librero-r2__right.face.flex
                            .manija
                                .manija__front.face 
                                .manija__back.face 
                                .manija__right.face 
                                .manija__left.face 
                                .manija__top.face 
                                .manija__bottom.face 
                        .librero-r2__left.face 
                        .librero-r2__top.face 
                        .librero-r2__bottom.face 
                    .librero-r3
                        .librero-r3__front.face 
                        .librero-r3__back.face 
                        .librero-r3__right.face.flex
                            .manija
                                .manija__front.face 
                                .manija__back.face 
                                .manija__right.face 
                                .manija__left.face 
                                .manija__top.face 
                                .manija__bottom.face 
                        .librero-r3__left.face 
                        .librero-r3__top.face 
                        .librero-r3__bottom.face 
                    .librero-r
                        .librero-r__front.face 
                        .librero-r__back.face 
                        .librero-r__right.face
                        .librero-r__left.face 
                        .librero-r__top.face 
                        .librero-r__bottom.face 
            .arbustos
                .fs
                .arbusto.flex.face
                    .arbusto-el.flex.face
                        .arbusto-el__front.face 
                        .arbusto-el__back.face 
                        .arbusto-el__right.face 
                        .arbusto-el__left.face 
                        .arbusto-el__top.face 
                        .arbusto-el__bottom.face 
                    .arbusto-el.flex.face
                        .arbusto-el__front.face 
                        .arbusto-el__back.face 
                        .arbusto-el__right.face 
                        .arbusto-el__left.face 
                        .arbusto-el__top.face 
                        .arbusto-el__bottom.face 
                    .arbusto-el.flex.face
                        .arbusto-el__front.face 
                        .arbusto-el__back.face 
                        .arbusto-el__right.face 
                        .arbusto-el__left.face 
                        .arbusto-el__top.face 
                        .arbusto-el__bottom.face 
                    .arbusto-el.flex.face
                        .arbusto-el__front.face 
                        .arbusto-el__back.face 
                        .arbusto-el__right.face 
                        .arbusto-el__left.face 
                        .arbusto-el__top.face 
                        .arbusto-el__bottom.face 
                .arbusto.flex.face
                    .arbusto-el.flex.face
                        .arbusto-el__front.face 
                        .arbusto-el__back.face 
                        .arbusto-el__right.face 
                        .arbusto-el__left.face 
                        .arbusto-el__top.face 
                        .arbusto-el__bottom.face 
                    .arbusto-el.flex.face
                        .arbusto-el__front.face 
                        .arbusto-el__back.face 
                        .arbusto-el__right.face 
                        .arbusto-el__left.face 
                        .arbusto-el__top.face 
                        .arbusto-el__bottom.face 
                    .arbusto-el.flex.face
                        .arbusto-el__front.face 
                        .arbusto-el__back.face 
                        .arbusto-el__right.face 
                        .arbusto-el__left.face 
                        .arbusto-el__top.face 
                        .arbusto-el__bottom.face 
                    .arbusto-el.flex.face
                        .arbusto-el__front.face 
                        .arbusto-el__back.face 
                        .arbusto-el__right.face 
                        .arbusto-el__left.face 
                        .arbusto-el__top.face 
                        .arbusto-el__bottom.face 
                .arbusto2.flex.face
                    .arbusto2-el.flex.face
                        .arbusto2-el__front.face 
                        .arbusto2-el__back.face 
                        .arbusto2-el__right.face 
                        .arbusto2-el__left.face 
                        .arbusto2-el__top.face 
                        .arbusto2-el__bottom.face 
                    .arbusto2-el.flex.face
                        .arbusto2-el__front.face 
                        .arbusto2-el__back.face 
                        .arbusto2-el__right.face 
                        .arbusto2-el__left.face 
                        .arbusto2-el__top.face 
                        .arbusto2-el__bottom.face 
                    .arbusto2-el.flex.face
                        .arbusto2-el__front.face 
                        .arbusto2-el__back.face 
                        .arbusto2-el__right.face 
                        .arbusto2-el__left.face 
                        .arbusto2-el__top.face 
                        .arbusto2-el__bottom.face 
                    .arbusto2-el.flex.face
                        .arbusto2-el__front.face 
                        .arbusto2-el__back.face 
                        .arbusto2-el__right.face 
                        .arbusto2-el__left.face 
                        .arbusto2-el__top.face 
                        .arbusto2-el__bottom.face 
            .maceta
                .fs
                .maceta-base
                    - let n = 0;
                    while n < 15
                        .maceta-hoja
                        - n++;

                .maceta-l
                    .maceta-l__front.face 
                    .maceta-l__back.face 
                    .maceta-l__right.face 
                    .maceta-l__left.face 
                    .maceta-l__top.face 
                    .maceta-l__bottom.face 
                .maceta-r
                    .maceta-r__front.face 
                    .maceta-r__back.face 
                    .maceta-r__right.face 
                    .maceta-r__left.face 
                    .maceta-r__top.face 
                    .maceta-r__bottom.face 
                .maceta-t
                    .maceta-t__front.face 
                    .maceta-t__back.face 
                    .maceta-t__right.face 
                    .maceta-t__left.face 
                    .maceta-t__top.face 
                    .maceta-t__bottom.face 
                .maceta-b
                    .maceta-b__front.face 
                    .maceta-b__back.face 
                    .maceta-b__right.face 
                    .maceta-b__left.face 
                    .maceta-b__top.face 
                    .maceta-b__bottom.face
        script(src="../script.js") 