doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        audio#a1: source(
        src="https://rawcdn.githack.com/ricardoolivaalonso/Codepen/0283d2e98cec2eb2be3911bece095000272bb1ca/Kitchen/audio/door.mp3",
        type="audio/mpeg")
        audio#a2: source(
            src="https://rawcdn.githack.com/ricardoolivaalonso/Codepen/0283d2e98cec2eb2be3911bece095000272bb1ca/Kitchen/audio/hadoor.mp3",
            type="audio/mpeg")
        audio#a3: source(
            src="https://rawcdn.githack.com/ricardoolivaalonso/Codepen/0283d2e98cec2eb2be3911bece095000272bb1ca/Kitchen/audio/tablet.mp3",
            type="audio/mpeg")
        audio#a4: source(
            src="https://rawcdn.githack.com/ricardoolivaalonso/Codepen/0283d2e98cec2eb2be3911bece095000272bb1ca/Kitchen/audio/hac.mp3",
            type="audio/mpeg")
        audio#a5: source(
            src="https://rawcdn.githack.com/ricardoolivaalonso/Codepen/0283d2e98cec2eb2be3911bece095000272bb1ca/Bedroom/sounds/buro.mp3",
            type="audio/mpeg")

        #h.main
            .shadow.shadow--1
            .shadow.shadow--2
            .shadow.shadow--3
            .shadow.shadow--4

            .floor
                .floor__front.face 
                .floor__back.face 
                .floor__right.face 
                .floor__left.face 
                .floor__top.face 
                .floor__bottom.face
            .wall-t 
                .wall-t__front.face 
                .wall-t__back.face 
                .wall-t__right.face 
                .wall-t__left.face 
                .wall-t__top.face 
                .wall-t__bottom.face
            .wall-la
                .wall-la__front.face 
                .wall-la__back.face 
                .wall-la__right.face 
                .wall-la__left.face 
                .wall-la__top.face 
                .wall-la__bottom.face
            .wall-lb
                .wall-lb__front.face 
                .wall-lb__back.face 
                .wall-lb__right.face 
                .wall-lb__left.face 
                .wall-lb__top.face 
                .wall-lb__bottom.face
            .wall-lc
                .wall-lc__front.face 
                .wall-lc__back.face 
                .wall-lc__right.face 
                .wall-lc__left.face 
                .wall-lc__top.face 
                .wall-lc__bottom.face
            .door
                .door-l
                    .door-l__front.face 
                    .door-l__back.face 
                    .door-l__right.face 
                    .door-l__left.face 
                    .door-l__top.face 
                    .door-l__bottom.face
                .door-r
                    .door-r__front.face 
                    .door-r__back.face 
                    .door-r__right.face 
                    .door-r__left.face 
                    .door-r__top.face 
                    .door-r__bottom.face
                .door-t
                    .door-t__front.face 
                    .door-t__back.face 
                    .door-t__right.face 
                    .door-t__left.face 
                    .door-t__top.face 
                    .door-t__bottom.face
                .door-1
                    .door__glass
                    .door-1r
                        .door-1r__front.face 
                        .door-1r__back.face 
                        .door-1r__right.face 
                        .door-1r__left.face 
                        .door-1r__top.face 
                        .door-1r__bottom.face
                    .door-1l
                        .door-1l__front.face 
                        .door-1l__back.face 
                        .door-1l__right.face 
                        .door-1l__left.face 
                        .door-1l__top.face 
                        .door-1l__bottom.face
                    .door-1b
                        .door-1b__front.face 
                        .door-1b__back.face 
                        .door-1b__right.face 
                        .door-1b__left.face 
                        .door-1b__top.face 
                        .door-1b__bottom.face
                    .door-1c
                        .door-1c__front.face 
                        .door-1c__back.face 
                        .door-1c__right.face 
                        .door-1c__left.face 
                        .door-1c__top.face 
                        .door-1c__bottom.face
                    .door-1c2
                        .door-1c2__front.face 
                        .door-1c2__back.face 
                        .door-1c2__right.face 
                        .door-1c2__left.face 
                        .door-1c2__top.face 
                        .door-1c2__bottom.face
                    .door-1t
                        .door-1t__front.face 
                        .door-1t__back.face 
                        .door-1t__right.face 
                        .door-1t__left.face 
                        .door-1t__top.face 
                        .door-1t__bottom.face
                #door.door-2
                    .door__glass
                    .door-1r
                        .door-1r__front.face 
                        .door-1r__back.face 
                        .door-1r__right.face 
                        .door-1r__left.face 
                        .door-1r__top.face 
                        .door-1r__bottom.face
                    .door-1l
                        .door-1l__front.face 
                        .door-1l__back.face 
                        .door-1l__right.face 
                        .door-1l__left.face 
                        .door-1l__top.face 
                        .door-1l__bottom.face
                    .door-1b
                        .door-1b__front.face 
                        .door-1b__back.face 
                        .door-1b__right.face 
                        .door-1b__left.face 
                        .door-1b__top.face 
                        .door-1b__bottom.face
                    .door-1c
                        .door-1c__front.face 
                        .door-1c__back.face 
                        .door-1c__right.face 
                        .door-1c__left.face 
                        .door-1c__top.face 
                        .door-1c__bottom.face
                    .door-1c2
                        .door-1c2__front.face 
                        .door-1c2__back.face 
                        .door-1c2__right.face 
                        .door-1c2__left.face 
                        .door-1c2__top.face 
                        .door-1c2__bottom.face
                    .door-1t
                        .door-1t__front.face 
                        .door-1t__back.face 
                        .door-1t__right.face 
                        .door-1t__left.face 
                        .door-1t__top.face 
                        .door-1t__bottom.face
            .fence
                .fence__shadow-c
                    .fence__shadow
                .fence-l
                    .fence-l__front.face 
                    .fence-l__back.face 
                    .fence-l__right.face 
                    .fence-l__left.face 
                    .fence-l__top.face 
                    .fence-l__bottom.face 
                .fence-r
                    .fence-r__front.face 
                    .fence-r__back.face 
                    .fence-r__right.face 
                    .fence-r__left.face 
                    .fence-r__top.face 
                    .fence-r__bottom.face 
                .fence-b
                    .fence-b__front.face 
                    .fence-b__back.face 
                    .fence-b__right.face 
                    .fence-b__left.face 
                    .fence-b__top.face 
                    .fence-b__bottom.face 
                .fence-t
                    .fence-t__front.face 
                    .fence-t__back.face 
                    .fence-t__right.face 
                    .fence-t__left.face 
                    .fence-t__top.face 
                    .fence-t__bottom.face 
                .fence-mc
                    - var n = 0;
                    while n < 15
                        .fence-m
                            .fence-m__front.face 
                            .fence-m__back.face 
                            .fence-m__right.face 
                            .fence-m__left.face 
                            .fence-m__top.face 
                            .fence-m__bottom.face 
                        - n++;
            .table.flex
                .table-t
                    .table-t__front.face 
                    .table-t__back.face 
                    .table-t__right.face 
                    .table-t__left.face 
                    .table-t__top.face 
                    .table-t__bottom.face 
                .table-b
                    .table-b__front.face 
                    .table-b__back.face 
                    .table-b__right.face 
                    .table-b__left.face 
                    .table-b__top.face 
                    .table-b__bottom.face 
            #tablet.tablet
                #heart.tablet__heart
                .tablet__front.face 
                .tablet__back.face 
                .tablet__right.face 
                .tablet__left.face 
                .tablet__top.face 
                .tablet__bottom.face
            .ha-c
                .ha1
                    .ha-l
                        .ha-l__front.face 
                        .ha-l__back.face 
                        .ha-l__right.face 
                        .ha-l__left.face 
                        .ha-l__top.face 
                        .ha-l__bottom.face 
                    .ha-r
                        .ha-r__front.face 
                        .ha-r__back.face 
                        .ha-r__right.face 
                        .ha-r__left.face 
                        .ha-r__top.face 
                        .ha-r__bottom.face 
                    .ha-bc
                        .ha-bc__front.face 
                        .ha-bc__back.face 
                        .ha-bc__right.face 
                        .ha-bc__left.face 
                        .ha-bc__top.face 
                        .ha-bc__bottom.face 
                    .ha-b
                        .ha-b__front.face 
                        .ha-b__back.face 
                        .ha-b__right.face 
                        .ha-b__left.face 
                        .ha-b__top.face 
                        .ha-b__bottom.face 
                    .ha-t
                        .ha-t__front.face 
                        .ha-t__back.face 
                        .ha-t__right.face 
                        .ha-t__left.face 
                        .ha-t__top.face 
                        .ha-t__bottom.face 
                    .ha-doors
                        #hadool.ha-doorl
                            .ha-doorl__front.face 
                            .ha-doorl__back.face 
                            .ha-doorl__right.face 
                            .ha-doorl__left.face 
                            .ha-doorl__top.face 
                            .ha-doorl__bottom.face 
                        .ha-doorr
                            .ha-doorr__front.face 
                            .ha-doorr__back.face 
                            .ha-doorr__right.face 
                            .ha-doorr__left.face 
                            .ha-doorr__top.face 
                            .ha-doorr__bottom.face 
                .hac
                    .ha-l
                        .ha-l__front.face 
                        .ha-l__back.face 
                        .ha-l__right.face 
                        .ha-l__left.face 
                        .ha-l__top.face 
                        .ha-l__bottom.face 
                    .ha-r
                        .ha-r__front.face 
                        .ha-r__back.face 
                        .ha-r__right.face 
                        .ha-r__left.face 
                        .ha-r__top.face 
                        .ha-r__bottom.face 
                    .ha-bc
                        .ha-bc__front.face 
                        .ha-bc__back.face 
                        .ha-bc__right.face 
                        .ha-bc__left.face 
                        .ha-bc__top.face 
                        .ha-bc__bottom.face 
                    .ha-b
                        .ha-b__front.face 
                        .ha-b__back.face 
                        .ha-b__right.face 
                        .ha-b__left.face 
                        .ha-b__top.face 
                        .ha-b__bottom.face 
                    .ha-t
                        .ha-t__front.face 
                        .ha-t__back.face 
                        .ha-t__right.face 
                        .ha-t__left.face 
                        .ha-t__top.face 
                        .ha-t__bottom.face 
                    .ha-doors
                        #hac.ha-doorf
                            .ha-doorf__front.face 
                            .ha-doorf__back.face 
                            .ha-doorf__right.face 
                            .ha-doorf__left.face 
                            .ha-doorf__top.face 
                            .ha-doorf__bottom.face 
                .ha2
                    .ha-l
                        .ha-l__front.face 
                        .ha-l__back.face 
                        .ha-l__right.face 
                        .ha-l__left.face 
                        .ha-l__top.face 
                        .ha-l__bottom.face 
                    .ha-r
                        .ha-r__front.face 
                        .ha-r__back.face 
                        .ha-r__right.face 
                        .ha-r__left.face 
                        .ha-r__top.face 
                        .ha-r__bottom.face 
                    .ha-bc
                        .ha-bc__front.face 
                        .ha-bc__back.face 
                        .ha-bc__right.face 
                        .ha-bc__left.face 
                        .ha-bc__top.face 
                        .ha-bc__bottom.face 
                    .ha-b
                        .ha-b__front.face 
                        .ha-b__back.face 
                        .ha-b__right.face 
                        .ha-b__left.face 
                        .ha-b__top.face 
                        .ha-b__bottom.face 
                    .ha-t
                        .ha-t__front.face 
                        .ha-t__back.face 
                        .ha-t__right.face 
                        .ha-t__left.face 
                        .ha-t__top.face 
                        .ha-t__bottom.face 
                    .ha-doors
                        .ha-doorl
                            .ha-doorl__front.face 
                            .ha-doorl__back.face 
                            .ha-doorl__right.face 
                            .ha-doorl__left.face 
                            .ha-doorl__top.face 
                            .ha-doorl__bottom.face 
                        #hadoor.ha-doorr
                            .ha-doorr__front.face 
                            .ha-doorr__back.face 
                            .ha-doorr__right.face 
                            .ha-doorr__left.face 
                            .ha-doorr__top.face 
                            .ha-doorr__bottom.face 
            #cup.cupboards 
                .cupboard-l
                    .cupboard-l__front.face 
                    .cupboard-l__back.face 
                    .cupboard-l__right.face 
                    .cupboard-l__left.face 
                    .cupboard-l__top.face 
                    .cupboard-l__bottom.face 
                .cupboard-r
                    .cupboard-r__front.face 
                    .cupboard-r__back.face 
                    .cupboard-r__right.face 
                    .cupboard-r__left.face 
                    .cupboard-r__top.face 
                    .cupboard-r__bottom.face 
                .cupboard-tl
                    .cupboard-tl__front.face 
                    .cupboard-tl__back.face 
                    .cupboard-tl__right.face 
                    .cupboard-tl__left.face 
                    .cupboard-tl__top.face 
                    .cupboard-tl__bottom.face 
                .cupboard-tr
                    .cupboard-tr__front.face 
                    .cupboard-tr__back.face 
                    .cupboard-tr__right.face 
                    .cupboard-tr__left.face 
                    .cupboard-tr__top.face 
                    .cupboard-tr__bottom.face 
                .cupboard-m
                    .cupboard-m__front.face 
                    .cupboard-m__back.face 
                    .cupboard-m__right.face 
                    .cupboard-m__left.face 
                    .cupboard-m__top.face 
                    .cupboard-m__bottom.face 
            .bursts
                .burst 
                    .circle.flex
                        .circle-a 
                            - var n = 0;
                            while n < 36
                                .circle-a__side
                                - n++;
                            .circle-a__bottom
                            .circle-a__top
                        .circle-b 
                            - var n = 0;
                            while n < 36
                                .circle-b__side
                                - n++;
                            .circle-b__bottom
                                - var i = 0;
                                while i < 36
                                    .burst__leaf
                                    - i++;
                .burst 
                    .circle.flex
                        .circle-a 
                            - var n = 0;
                            while n < 36
                                .circle-a__side
                                - n++;
                            .circle-a__bottom
                            .circle-a__top
                        .circle-b 
                            - var n = 0;
                            while n < 36
                                .circle-b__side
                                - n++;
                            .circle-b__bottom
                                - var i = 0;
                                while i < 36
                                    .burst__leaf
                                    - i++;
            //- div.pot
                div.circle.flex
                    div.circle-a  
                        - var n = 0
                        while n < 36
                            div.circle-a__side
                            - n++
                        div.circle-a__bottom
                        div.circle-a__top
                    div.circle-b  
                        - var n = 0
                        while n < 36
                            div.circle-b__side
                            - n++ 
                        div.circle-b__bottom
            .pic
                .pic__front.face 
                .pic__back.face 
                .pic__right.face 
                    - var b = '<br>';
                    span.pic__text.face i!{b}luv!{b}ccs
                .pic__left.face 
                .pic__top.face 
                .pic__bottom.face 
            .chair
                .chair-t
                    .chair-t__front.face 
                    .chair-t__back.face 
                    .chair-t__right.face 
                    .chair-t__left.face 
                    .chair-t__top.face 
                    .chair-t__bottom.face 
                .chair-lb
                    .chair-lb__front.face 
                    .chair-lb__back.face 
                    .chair-lb__right.face 
                    .chair-lb__left.face 
                    .chair-lb__top.face 
                    .chair-lb__bottom.face 
                .chair-lt
                    .chair-lt__front.face 
                    .chair-lt__back.face 
                    .chair-lt__right.face 
                    .chair-lt__left.face 
                    .chair-lt__top.face 
                    .chair-lt__bottom.face 
                .chair-rb
                    .chair-rb__front.face 
                    .chair-rb__back.face 
                    .chair-rb__right.face 
                    .chair-rb__left.face 
                    .chair-rb__top.face 
                    .chair-rb__bottom.face 
                .chair-rt
                    .chair-rt__front.face 
                    .chair-rt__back.face 
                    .chair-rt__right.face 
                    .chair-rt__left.face 
                    .chair-rt__top.face 
                    .chair-rt__bottom.face 
            .chair.chair--2
                .chair-t
                    .chair-t__front.face 
                    .chair-t__back.face 
                    .chair-t__right.face 
                    .chair-t__left.face 
                    .chair-t__top.face 
                    .chair-t__bottom.face 
                .chair-lb
                    .chair-lb__front.face 
                    .chair-lb__back.face 
                    .chair-lb__right.face 
                    .chair-lb__left.face 
                    .chair-lb__top.face 
                    .chair-lb__bottom.face 
                .chair-lt
                    .chair-lt__front.face 
                    .chair-lt__back.face 
                    .chair-lt__right.face 
                    .chair-lt__left.face 
                    .chair-lt__top.face 
                    .chair-lt__bottom.face 
                .chair-rb
                    .chair-rb__front.face 
                    .chair-rb__back.face 
                    .chair-rb__right.face 
                    .chair-rb__left.face 
                    .chair-rb__top.face 
                    .chair-rb__bottom.face 
                .chair-rt
                    .chair-rt__front.face 
                    .chair-rt__back.face 
                    .chair-rt__right.face 
                    .chair-rt__left.face 
                    .chair-rt__top.face 
                    .chair-rt__bottom.face 
            .lamp
                .lamp__front.face 
                .lamp__back.face 
                .lamp__right.face 
                .lamp__left.face 
                .lamp__top.face 
                .lamp__bottom.face
